$white: white;
$black: hsl(270, 7%, 5%);
$prim: #502eb8;
$blue-light: hsl(180, 25%, 97%);

// Breakpoints
$lg: 992px;
$md: 768px;
$sm: 576px;

.button-danger-outline {
    border-color: rgb(187, 29, 29) !important;
    color: rgb(187, 29, 29) !important;
}

.button-danger {
    background: rgb(187, 29, 29) !important;
    color: white !important;
    border-color: transparent !important;
}

.button-success,
#submit {
    background: #5c9c4f !important;
    color: white !important;
    border-color: transparent !important;
}

.edit-name-modal {
    h3 {
        margin-left: 60px;
        font-size: 15px;

        @media only screen and (max-width: $lg) {
            margin-left: 0;
            margin: 0;
            margin-top: 30px;
        }
    }
}

.scroll-bottom-fade {
    z-index: 11001;
    left: 0;
}

.name-modal,
.remove-modal,
.confirm-remove-modal,
.edit-name-modal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10003;

    &.js-modal-active {
        display: block;
    }

    .modal-content {
        background: white;
        display: block;
        width: 100%;
        max-width: 600px;
        min-height: 100px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10002;

        h2 {
            margin: 0;
        }

        .form-combo {
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;

            @media only screen and (max-width: $lg) {
                flex-direction: column;

                input,
                label,
                button,
                .button {
                    width: 100%;
                }
            }
        }

        label {
            font-weight: bold;
        }

        @media only screen and (max-width: $lg) {
            width: calc(95% - 30px);
        }
    }

    .modal-bg {
        display: block;
        width: 150%;
        height: 150vh;
        background: rgba($black, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10001;
        backdrop-filter: blur(2px);
    }
}

.confirm-remove-modal {
    .current-preset-modal {
        span {
            font-weight: bold;
        }
    }
}

.remove-modal {
    .form-combo {
        flex-direction: column;

        #select-preset {
            width: 100%;
        }
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    .modal-content {
        max-width: 500px;
    }

    .button-container {
        margin-top: 10px;
        margin-left: auto;
        margin-right: 40px;

        @media only screen and (max-width: $lg) {
            width: 100%;
        }
    }
}

.js-modal-focus {
    overflow: hidden;
}

.button {
    text-align: center;
}

.current-preset {
    h2 {
        font-weight: normal;

        .preset-name {
            font-weight: bold;
        }
    }
}

.js-hide-alert {
    display: none;
}

.link-look {
    color: #2271b1;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.js-show-btn {
    display: inline-block !important;
}

.js-button-disabled {
    pointer-events: none;
    opacity: .5;
}